.training-container {
    margin: 90px auto 30px;
}

.training-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(129, 129, 129, 0.507);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.training {
    margin-top: 60px;

    &__body {
        max-width: 800px;
        margin: 30px auto 0;

        border-radius: 20px;
        background-color: #17a2b8;
        box-shadow: 3px 3px 9px rgba(100, 100, 100, 0.562);
        overflow: auto;
    }

    &__body-time {
        margin: 20px 0 20px;
        color: #fff;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }

    &__item {
        display: flex;
        width: 98%;
        margin: 15px auto;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);

        &:last-child {
            margin-bottom: 40px;
        }
    }
}


@media all and(max-width: 576px) {
    .training {

        &__item {
            flex-wrap: wrap;
            width: 94%;
    
            &:last-child {
                margin-bottom: 30px;
            }
        }
    }
}