.add {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(129, 129, 129, 0.507);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        position: relative;
        max-width: 850px;
        width: 100%;
        height: 80vh;
        margin: 20px;
        padding: 20px 15px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        overflow-y: auto;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: rgba(238, 28, 28, 0.699);
        font-size: 34px;
        transform: rotate(0deg);
        transition: all .5s ease;
    
        &:hover {
            cursor: pointer;
            transform: rotate(90deg);
            color: rgb(209, 30, 30);
        }
    }

    &__title {
        margin: 30px 0 20px;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }

    &__form {
        max-width: 80%;
        margin: 0 auto;
    }

    &__form-text {
        width: 100%;
        margin: 20px 0 10px;
        font-size: 18px;
        font-weight: bold;
    }

    &__form-field {
        margin: 20px 0;
    
        label {
            width: 100%;
            margin: 0 0 10px;
            font-size: 18px;
            font-weight: bold;
            &:hover {
                cursor: pointer;
            }
        }
    
        input[type="text"], input[type="number"], input[type="email"], input[type="tel"], select {
            display: block;
            max-width: 500px;
            width: 100%;
            height: 35px;
            margin: 0 auto;
        }
    
        input[type="radio"] {
            margin: 0 0 0 60px;
    
            &:hover {
                cursor: pointer;
            }
        }

        .react-datepicker-wrapper {
            display: block;
            max-width: 300px;
            margin: 0 auto;
        }
    }

    &__checkbox-field {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &__checkbox-item {
        display: flex;
        position: relative;
        max-width: 300px;
        width: 100%;
        min-width: 30px;
        margin: 8px 1%;
        justify-content: center;
        align-items: center;


        label {
            display: block;
            width: 100%;
            min-width: 30px;
            margin: 0;
            padding: 10px 40px 10px 10px;
            font-size: 18px;
            line-height: 1.3;
            border-radius: 5px;
            transition: all .3s ease;
            outline: none;
            background-color: rgb(128, 207, 243);
            box-shadow: 2px 2px 6px rgba(117, 117, 117, 0.295);

            &:hover {
                cursor: pointer;
                background-color: rgb(108, 194, 235);
                box-shadow: 2px 2px 6px rgba(117, 117, 117, 0.589);
            }
        }

        input[type="checkbox"] {
            position: absolute;
            right: 10px;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-left: auto;
            
            &:hover {
                cursor: pointer;
            }

            &:checked + label {
                background-color: rgba(73, 252, 103, 0.767);
            }
        }
    }

    &__form-radio {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &__submit-btn {
        display: block;
        margin: 50px auto;
        padding: 10px 10px;
        display: block;
        outline: none;
        border: none;
        border-radius: 10px;
        color: aliceblue;
        background-color: #1eca85;
        font-size: 18px;
        box-shadow: 2px 2px 6px rgba(117, 117, 117, 0.295);
        transition: all .3s ease;

        &:hover, &:focus {
            background-color: #17B978;
            box-shadow: 2px 2px 6px rgba(117, 117, 117, 0.589);
        }
    }
}

@media all and(max-width: 480px) {
    .add {

        &__form {
            max-width: 90%;
        }

        &__submit-btn {
            font-size: 16px;
        }

        &__form-radio {
            text-align: left;

            input[type="radio"] {
                margin: 0 0 0 15%;
            }
        }

        &__close {
            font-size: 28px;
        }
    }
}
