.add-btn {
    display: block;
    margin: 0 auto;
    padding: 0 0 3px 0;
    max-width: 600px;
    width: 100%;
    height: 90px;

    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.616);

    background-color: #1ed88e;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 3px 3px 8px rgba(109, 109, 109, 0.397);
    transition: all .6s ease;

    i {
        display: block;
        margin: 10px 0 0;
        font-size: 30px;
    }

    &:hover, &:focus, &:active {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        background-color:#17ca83;
        box-shadow: 3px 3px 8px rgba(109, 109, 109, 0.788);
    }

    &:focus {
        box-shadow: 3px 3px 8px rgba(54, 54, 54, 0.788);
    }

    &:active {
        background-color: #249c6c;
    }
}