.auth {
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(28, 153, 226);
    display: flex;
    justify-content: center;
    align-items: center;

    & .auth-container {
        width: 100%;
    }
}
