.main-admin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        text-align: center;
        font-weight: bold;
    }

    &__description {
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
}