.form {
    max-width: 500px;
    width: 100%;

    margin: 0 auto;
    padding: 20px 0;

    background-color: #fff;
    border-radius: 15px;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.226);
    font-size: 16px;


    &__title {
        width: 100%;
        margin: 5px 0 0;
        padding: 0 0 20px;
        font-size: 1.5em;
        font-family: sans-serif;
        text-align: center;
        border-bottom: 1px solid rgb(168, 168, 168);
    }

    &__body {
        width: 100%;
        margin: 15px 0 0;
        padding: 0 15px;
        text-align: center;
    }

    &__input-field {
        position: relative;
        width: 60%;
        margin: 0 auto;
    }

    &__input-with-icon {
        position: relative;
        margin: 40px 0;
    }

    &__input-icon {
        font-size: 16px;
        color: rgb(194, 194, 194);
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translate(0, -50%);
        transition: all .3s ease;

    }

    &__input {
        width: 100%;
        height: 34px;
        margin: 0;
        padding: 0 10px 0 35px;
        font-size: 1em;
        background-color: rgb(240, 240, 240);

        border: none;
        border-radius: 15px;
        transition: all .2s ease;

        &:focus, &:active, &:hover {
            outline: none;
        }
        &:focus {
            box-shadow: 1px 1px 8px rgba(0, 247, 255, 0.507);
        }
        &:focus + i {
            color: rgb(0, 200, 207);
        }
        &:hover {
            box-shadow: 1px 1px 8px rgba(0, 247, 255, 0.295);
        }
    }

    &__input-message {
        position: absolute;
        left: 15px;
        bottom: -20px;
        color: transparent;
        font-size: 0.9em;
        transition: color 1s ease;

        &.active {
            color: red;
        }
    }

    &__submit {
        display: block;
        max-width: 120px;
        width: 100%;
        height: 40px;
        margin: 25px auto 10px;

        background-color: rgb(0, 255, 255);
        border: none;
        border-radius: 18px;
        outline: none;
        transition: all .4s ease;

        font-family: sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        color: #fff;

        &:hover {
            cursor: pointer;
            background-color: rgb(0, 193, 252);
        }
        &:focus {
            box-shadow: 1px 1px 8px rgba(0, 173, 179, 0.801);
        }
        &:disabled {
            background-color: rgb(112, 112, 112);
            cursor: default;
        }
    }

    &__error-message {
        color: red;
        font-weight: 600;
    }
}

@media screen and(max-width: 576px) {
    .form {
        &__input-field {
            width: 70%;
        }
    }
}

@media screen and(max-width: 460px) {
    .form {
        &__input-field {
            width: 90%;
        }
    }
}
