

.nav {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 130, 206);

    &__body {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__main-links-container {
        width: 100vw;
        height: 60px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: stretch;

        li:last-child {
            margin-left: auto;
        }
    }

    &__main-link {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 20px;

        line-height: 60px;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgba(0, 130, 206, 0.795);
        transition: all .3s ease;

        &:hover, &:focus {
            cursor: pointer;
            background-color: rgb(0, 89, 141);
            color: #fff;
            text-decoration: none;
        }

        &:active {
            background-color: rgb(0, 71, 112);
        }

        &.active {
            background-color: rgb(0, 71, 112);
        }
    }

    &__open-btn {
        position: fixed;
        top: 15px;
        right: 15px;
        display: none;
        width: 60px;
        line-height: 60px;
        margin: 0 0 0 auto;

        text-align: center;
        font-size: 24px;
        color: #fff;

        background-color: rgb(0, 130, 206);
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(82, 82, 82, 0.747);

        &:hover {
            cursor: pointer;
            background-color: rgb(0, 89, 141);
        }
    }

    &__close-btn {
        font-size: 0;
        opacity: 0;
        color: #fff;
        transition: color .5s ease;

        &:hover {
            cursor: pointer;
            color: rgb(196, 196, 196);
        }
    }
}

@media all and(max-width: 768px) {
    .nav {
        position: fixed;
        background-color: transparent;


        &__fullscreen-bg {
            position: fixed;
            visibility: hidden;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all .6s ease;
        }

        &__body {
            position: fixed;
            display: block;
            top: 0;
            right: -400px;
            width: 300px;
            height: 100vh;
            padding: 70px 0 30px;
            background-color: rgb(255, 255, 255);
            transition: right .6s ease;
            z-index: 100;
            background-color: rgb(0, 157, 248);;
        }


        &__main-links-container {
            max-width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            flex-direction: column;

            li:last-child {
                margin-left: 0;
                margin-top: 50px;
            }
        }

        &__open-btn {
            display: block;
        }

        &__close-btn {
            position: absolute;
            display: block;
            right: 10px;
            top: 10px;
            width: 40px;
            line-height: 40px;

            font-size: 24px;
            opacity: 1;
            text-align: center;
        }
    }

    .nav.open-burger {

        .nav__fullscreen-bg {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.37);
        }

        .nav__body {
            right: 0;
        }
    }
}