.lds-fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgb(0, 173, 116);
    display: flex;
    justify-content: center;
    align-items: center;
}
