.item-training {
    $border-right-color: rgb(177, 177, 177);

    &__short-info {
        display: flex;
        width: 17.5%;
        padding: 0 5px;

        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 1px solid $border-right-color;
    }

    &__time {
        min-width: 55%;
        margin: 0;
        margin: 10px auto 5px;
        font-size: 20px;
        line-height: 29px;

        span {
            display: block;
            width: 100%;
            font-weight: bold;
        }
    }

    &__load {
        min-width: 55%;
        line-height: 25px;
        margin: 5px auto 15px;
        padding: 0 10px;

        border-radius: 10px;

        &.success {
            background-color: #05ff3fbd;
        }

        &.error {
            background-color: rgba(238, 0, 0, 0.74);
        }
    }

    &__main-info {
        display: flex;
        width: 72.5%;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $border-right-color;
    }

    &__title {
        width: 100%;
        margin: 10px 0;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    &__fullName {
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    &__status {
        line-height: 25px;
        margin: 10px auto 15px;
        padding: 0 10px;

        border-radius: 10px;

        &.success {
            background-color: #05ff3fbd;
        }

        &.error {
            background-color: rgba(238, 0, 0, 0.74);
        }
    }

    &__edit {
        display: flex;
        width: 15%;
        justify-content: center;
        border: none;
        outline: none;
        align-items: center;
        background-color: #05ff3f8c;
        border-radius: 0 10px 10px 0;

        transition: all .6s ease;

        &:hover {
            cursor: pointer;
            background-color: #1fc545dc;
        }

        &:focus {
            outline: none;
            background-color: #31a74ddc;
        }

        i {
            font-size: 30px;
        }
    }
}


@media all and(max-width: 576px) {
    .item-training {
    
        &__short-info {
            display: flex;
            width: 100%;
            padding: 10px 5px;
            justify-content: flex-start;
            border-right: none;
        }

        &__time {
            margin: 0;
    
            span {
                display: inline-block;
                width: auto;
                margin: 0 15px;
            }
        }

        &__load {
            min-width: 15%;
            line-height: 30px;
            margin: 0 15px 0 auto;
        }
    
        &__main-info {
            display: flex;
            width: 100%;
            border-right: none;
        }

        &__status {
            line-height: 25px;
            margin: 10px auto 15px;
            padding: 0 10px;
            border-radius: 10px;
        }

        &__edit {
            width: 100%;
            height: 40px;
            margin: 5px 0 0;
            border-radius: 0 0 10px 10px;
            outline: none;
    
            i {
                font-size: 20px;
            }
        }
    }
}