.coaches {
    margin: 80px 0 0;

    &__title {
        margin: 20px 0 0;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
}

.training-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(129, 129, 129, 0.507);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}